[submodule "gui"]
	path = gui
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/gui_abstractions.git
[submodule "pyt"]
	path = pyt
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/pyt_abstractions.git
[submodule "pub"]
	path = pub
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/pub_interpret.git
[submodule "hypertext"]
	path = hypertext
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/hypertext.git
