[submodule "gui"]
	path = gui
url=https://github.com/AdrianArtacho/salta_gui.git
[submodule "pyt"]
	path = pyt
url=https://github.com/AdrianArtacho/salta_pyt.git
[submodule "pub"]
	path = pub
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/pub_interpret.git
[submodule "hypertext"]
	path = hypertext
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/hypertext.git
